<launch>

	<node pkg="ball_and_goal" type="turn_node" name="turn" /> 
    <node pkg="ball_and_goal" type="go_blue_node" name="go_blue" /> 
    <node pkg="ball_and_goal" type="go_yellow_node" name="go_yellow" /> 
    <node pkg="ball_and_goal" type="go_ball_node" name="go_ball" /> 

    
    <node pkg="ball_and_goal" type="ball_and_goal_bica_node" name="ball_and_goal_bica" /> 


</launch>
